.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  color: var(--texto-azul);
  padding: 1rem;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.left-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nome-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h3 {
  margin: 0;
}

.icones-container {
  display: flex;
  gap: 2rem;
}

.icone {
  display: flex;
  gap: 0.5rem;
  font-size: 0.8rem;
}

ion-icon.ellipsis {
  font-size: 1.2rem;
  color: var(--laranja-primario);
}

.seguir-container {
  width: 100%;

  ion-button {
    --background: var(--azul-primario);
  }
}

.atividades-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.atividade {
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-icon {
    color: var(--laranja-primario);
    font-size: 1.5rem;
  }
}

ion-avatar {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
