<ion-item>
  <div class="header">
    <div class="social-container">
      <div class="left-container">
        <ion-avatar>
          <img [src]="fotoUrl" />
        </ion-avatar>
        <div class="nome-container">
          <h3>{{ dadosPerfil?.usuario?.nome }}</h3>
          <div class="icones-container">
            <div class="icone" (click)="verAmizades()">
              <ion-icon name="people-outline"></ion-icon>
              <span>{{ dadosPerfil?.numeroAmigos }}</span>
            </div>
            <div class="icone">
              <ion-icon name="people-outline"></ion-icon>
              <span>{{ dadosPerfil?.numeroGrupos }}</span>
            </div>
          </div>
        </div>
      </div>
      <ion-icon
        class="ellipsis"
        name="ellipsis-vertical"
        (click)="abrirPopOver($event)"
      ></ion-icon>
    </div>

    @if (!isMeuPerfil && dadosPerfil?.amizade?.status != amizadeStatus.ACEITA) {
      <div class="seguir-container">
        @if (dadosPerfil?.amizade?.status === amizadeStatus.PENDENTE) {
          <ion-button expand="block" (click)="cancelarPedidoAmizade()">
            @if (carregando) {
              <ion-spinner></ion-spinner>
            } @else {
              Cancelar pedido
            }
          </ion-button>
        } @else {
          <ion-button expand="block" (click)="adicionarAmigo()">
            @if (carregando) {
              <ion-spinner></ion-spinner>
            } @else {
              Conectar
            }
          </ion-button>
        }
      </div>
    }

    <div class="atividades-container">
      <div class="atividade">
        <ion-icon name="analytics-outline"></ion-icon>
        <Small>{{ dadosPerfil?.numeroKm }}km</Small>
      </div>
      <div class="atividade">
        <ion-icon name="bicycle-outline"></ion-icon>
        <Small>{{ dadosPerfil?.numeroPedais }} Pedais</Small>
      </div>
      <div class="atividade">
        <ion-icon name="trending-up-outline"></ion-icon>
        <Small>{{ dadosPerfil?.numeroAltimetria }} Altimetria</Small>
      </div>
      <div class="atividade">
        <img src="../../../../../assets/icon/levels/1.svg" />
        <small>Peba</small>
      </div>
    </div>
  </div>
</ion-item>
