ion-item {
  --background: #fff;
  margin: 1rem 0.5rem;
  border-radius: 15px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --color: var(--texto-azul);
  display: flex;
}

.notificacao-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
  min-height: 100px;
  position: relative;
}

.data {
  position: absolute;
  bottom: 0.5rem;
  right: 0rem;
  font-size: 0.6rem;
}

.notificacao-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  ion-icon {
    --color: red;
    background-color: var(--laranja-primario);
    border-radius: 50%;
  }
}

.notificacao-avatar {
  position: relative;

  ion-avatar {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    border: solid 1px var(--azul-primario);
  }

  ion-icon {
    position: absolute;
    right: 0;
    top: 2rem;
    color: var(--azul-primario);
    font-size: 1.5rem;
  }
}

.notificacao-texto-container {
  h3 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }

  p {
    font-size: 0.9rem;
  }
}

.notificacao-right-container {
  ion-avatar {
    border: solid 1px var(--azul-primario);
  }
}

.roubo {
  --background: var(--laranja-primario);
  background-color: var(--laranja-primario);
  color: #fff;

  ion-icon {
    color: var(--laranja-primario);
    background-color: #fff;
    border-radius: 50%;
  }
}
