<ion-item
  lines="none"
  [ngClass]="{
    roubo: notificacao.tipo === NotificacaoTipo.ROUBO,
  }"
>
  <div
    class="notificacao-container"
    [ngClass]="{
      roubo: notificacao.tipo === NotificacaoTipo.ROUBO,
    }"
  >
    <div class="notificacao-left">
      <div class="notificacao-avatar">
        @if (notificacao.thumbnail) {
          <ion-avatar>
            <img [src]="fotoUrl" />
          </ion-avatar>
        }

        <ion-icon [name]="getIcon(notificacao.tipo)"></ion-icon>
      </div>

      <div class="notificacao-texto-container">
        <h3>
          {{ notificacao.remetente.nome }}
        </h3>

        <p>
          {{ notificacao.mensagem }}
        </p>
      </div>
    </div>

    <div class="notificacao-right-container">
      @if (notificacao.acaoId) {
        <div class="acao-container">
          <app-botoes-acao-notificacao
            [tipoNotificacao]="notificacao.tipo"
            (acao)="onAcaoNotificacao($event, notificacao)"
          ></app-botoes-acao-notificacao>
        </div>
      }
    </div>

    <small class="data">
      {{ notificacao.dataCriacao | date: "dd/MM/yyyy" }}
    </small>
  </div>
</ion-item>
