.container {
  border-radius: 20px;
  color: var(--texto-azul);
  color: var(--texto-azul);
  padding: 0;
}

ion-label {
  color: var(--texto-azul);
  --color: var(--texto-azul);
}

.numero {
  max-width: 50%;
}
