<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <ion-item-divider>
      <small>Notificações</small>
    </ion-item-divider>

    <ion-accordion-group (ionChange)="onAccordionChange($event)">
      <ion-accordion value="amizade">
        <ion-item slot="header" lines="none">
          <small>{{`Amizades (${notificacoesAmizades().length})`}}</small>
        </ion-item>
        <div slot="content">
          @if (notificacoesAmizades().length > 0) {

          <ion-list>
            @for (notificacao of notificacoesAmizades(); track notificacao.id) {
            <app-notificacao [notificacao]="notificacao"> </app-notificacao>
            }
          </ion-list>
          }@else {

          <div class="vazio">
            <p>Nenhum pedido de amizade</p>
          </div>
          }
        </div>
      </ion-accordion>
      <ion-accordion value="transacao">
        <ion-item slot="header" lines="none">
          <small>{{`Transações (${notificacoesTransacao().length})`}}</small>
        </ion-item>
        <div slot="content">
          @if (notificacoesTransacao().length > 0) {
          <ion-list>
            @for (notificacao of notificacoesTransacao(); track notificacao.id)
            {
            <app-notificacao [notificacao]="notificacao"> </app-notificacao>
            }
          </ion-list>
          } @else {
          <div class="vazio">
            <p>Nenhuma transação no momento</p>
          </div>
          }
        </div>
      </ion-accordion>
    </ion-accordion-group>

    <ion-item slot="header">
      <small>Social</small>
    </ion-item>

    @if (notificacoesSocial().length > 0) {

    <ion-list>
      @for (notificacao of notificacoes(); track notificacao.id) {
      <app-notificacao [notificacao]="notificacao"> </app-notificacao>
      }
    </ion-list>
    }@else {
    <div class="vazio">
      <p>Nenhuma notificação</p>
    </div>

    }
  </div>
</ion-content>
