<ion-app>
  <app-flash-message></app-flash-message>
  <ion-menu menuId="first-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <div class="container-title">
          <span>Menu</span>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-menu-toggle>
        <div class="menu-container">
          <div class="menu-item" (click)="irPara('consulta-publica')">
            <ion-icon name="search"></ion-icon>
            <span>Consultar bicicleta</span>
          </div>
          <div class="menu-item" (click)="abrirCriarGrupos()">
            <ion-icon name="people-outline"></ion-icon>
            <span>Criar grupo</span>
          </div>
          <div class="menu-item" (click)="irParaConquista()">
            <ion-icon name="log-out-outline"></ion-icon>
            <span>Minhas conquistas</span>
          </div>
          <div class="menu-item" (click)="irPara('politica-privacidade')">
            <ion-icon name="log-out-outline"></ion-icon>
            <span>Politica de privacidade</span>
          </div>
          <div class="menu-item">
            <ion-icon name="cog-outline"></ion-icon>
            <span>Configurações</span>
          </div>
          <div class="menu-item" (click)="logout()">
            <ion-icon name="log-out-outline"></ion-icon>
            <span>Sair</span>
          </div>
        </div>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
