ion-segment {
  min-height: 40px;
  border-radius: 15px 15px 0 0;
}

ion-segment-button {
  --background-focused: red;
  --color: #7b7b7b;
  --color-checked: var(--azul-primario);
  --background-hover: red;
}
