ion-content {
  --background: var(--background);
  background-color: #f5f5f5;
}

.container {
  padding: 1rem;
  background-color: var(--background);
  background-color: #f5f5f5;
}

ion-text {
  color: var(--erro);
  text-align: right;
  display: flex;
  width: 100%;
}

.input-container {
  color: var(--texto-azul);
}

ion-input,
ion-select {
  --color: #12306c;
  --placeholder-color: #12306c;

  &::part(label) {
    color: #12306c;
  }
}

ion-select::part(text) {
  color: #12306c;
}
