.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
ion-button {
  font-weight: 300;
  text-transform: none;
}

img {
  border: solid 2px var(--laranja-primario);
}
